<!-- CoreUI and necessary plugins-->
<script src="vendors/@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
<!--[if IE]><!-->
<script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>
<!--<![endif]-->
<!-- Plugins and scripts required by this view-->
<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="vendors/jquery/js/jquery.slim.min.js"></script>
<script src="vendors/jquery-validation/js/jquery.validate.js"></script>
<script src="js/validation.js"></script>
<script src="js/main.js"></script>
<script>
         document.addEventListener("DOMContentLoaded", function(event) {
           setTimeout(function() {
             document.body.classList.remove('c-no-layout-transition')
           }, 2000);
         });


</script>