<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Pro Bootstrap Admin Template</title>
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
</head>
<body class="c-app c-no-layout-transition">
{% include "./helpers/side_menu.html" %}
<div class="c-wrapper">
    {% include "./helpers/header.html" %}
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">

                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group">
                                <a href="#" class="btn btn-info" data-toggle="modal" data-target="#addButtonModal">Добавить
                                    команду</a>
                            </div>

                            <hr/>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Текст запроса пользователя</th>
                                    <th>Текст ответа бота</th>
                                    <th>Меню куда переходит</th>
                                    <th>Изменить</th>

                                    <th>Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for item in commands%}
                                <tr>
                                    <td>{{item.commands.id}}</td>
                                    <td>{{item.commands.text}}</td>
                                    <td>{{item.commands.answer}}</td>
                                    <td>{{item.menu.descr}}</td>
                                    <td>
                                        <a href="#" class=" btn btn-pill btn-dark btn" data-toggle="modal"
                                           data-target="#ChangeCommandModal_{{item.commands.id}}">Изменить</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-pill btn-danger" href="/delete/Commands/{{item.commands.id}}">Удалить</a>
                                    </td>
                                </tr>
                                {%endfor%}
                                </tbody>
                                {% for notify in notifys %}
                                <div class="{{notify.html_class}}" role="alert">{{notify.message}}</div>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="c-footer">
        <div>© 2021</div>
    </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="addButtonModal" tabindex="-1" role="dialog" aria-labelledby="addMenuModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addButtonModal">Добавить команду</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addButtonForm" method="post" action="/commands">
                    <div class="form-group">
                        <label class="col-form-label" for="description">Текст команды пользователя</label>
                        <input class="form-control" id="text" type="text" name="text" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="qq">Текст ответа бота</label>
                        <textarea class="form-control" id="qq" name="answer" rows="4" placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="select1">Переход к меню</label>
                        <select class="form-control" id="select1" name="to_status">
                            {%for item in menus%}
                            <option value="{{item.status}}">{{item.descr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="hidden" name="flag" value="insert">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{%for item in commands%}
<div class="modal fade" id="ChangeCommandModal_{{item.commands.id}}" tabindex="-1" role="dialog" aria-labelledby="addMenuModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChangeMenuModal">Обновление команды "{{item.commands.text}}" </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ChangeMenuForm" method="post" action="/commands">
                    <div class="form-group">
                        <label class="col-form-label" for="wr">Новый текст команды пользователя</label>
                        <input class="form-control" id="wr" type="text" name="text" value="{{item.commands.text}}" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="ww">Новый текст ответа бота</label>
                        <textarea class="form-control" id="ww" name="answer" rows="4" placeholder="">{{item.commands.answer}}</textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="select1">Переход к меню</label>
                        <select class="form-control" id="select1" name="to_status">
                            {%for item in menus%}
                            <option value="{{item.id}}">{{item.descr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="hidden" name="flag" value="update_{{item.commands.id}}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endfor%}

<!-- CoreUI and necessary plugins-->
<script src="vendors/@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
<!--[if IE]><!-->
<script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>
<!--<![endif]-->
<!-- Plugins and scripts required by this view-->
<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="vendors/jquery/js/jquery.slim.min.js"></script>
<script src="vendors/jquery-validation/js/jquery.validate.js"></script>
<script src="js/validation.js"></script>
<script src="js/main.js"></script>
<script>
         document.addEventListener("DOMContentLoaded", function(event) {
           setTimeout(function() {
             document.body.classList.remove('c-no-layout-transition')
           }, 2000);
         });





</script>
</body>
</html>