<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Admin panel to administrate Psychosomatic Telegram Bot">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Psychosomatic Bot</title>
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
</head>
<body class="c-app c-no-layout-transition">
{% include "./helpers/side_menu.html" %}
<div class="c-wrapper">
    {% include "./helpers/header.html" %}
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">

                    <div class="card">
                        <div class="card-body">
                            <hr/>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Никнейм в ТГ</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Статус диалога</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for user in users%}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.first_name}}</td>
                                    <td>{{user.last_name}}</td>
                                    <td>{{user.status}}</td>
                                </tr>
                                {%endfor%}
                                </tbody>
                                {% for notify in notifys %}
                                <div class="{{notify.html_class}}" role="alert">{{notify.message}}</div>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="c-footer">
        <div>© 2021</div>
    </footer>
</div>

<!-- CoreUI and necessary plugins-->
<script src="vendors/@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
<!--[if IE]><!-->
<script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>
<!--<![endif]-->
<!-- Plugins and scripts required by this view-->
<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="vendors/jquery/js/jquery.slim.min.js"></script>
<script src="vendors/jquery-validation/js/jquery.validate.js"></script>
<script src="js/validation.js"></script>
<script src="js/main.js"></script>
<script>
         document.addEventListener("DOMContentLoaded", function(event) {
           setTimeout(function() {
             document.body.classList.remove('c-no-layout-transition')
           }, 2000);
         });
</script>
</body>
</html>